[Unit]
Description=Service of Odoo
After=network.target

[Service]
User=odoo
Group=root
Type=simple
WorkingDirectory=/var/lib/odoo
ExecStart=/usr/bin/odoo --config=/etc/odoo/odoo.conf
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
