[Unit]
Description=Service of Odoo
After=odoo.target

[Service]
User=odoo
Group=odoo
Type=simple
WorkingDirectory=/mnt/custom/extra-addons
ExecStart=/usr/bin/python3 /usr/bin/odoo --config=/etc/odoo/odoo.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target